<script>
	import Kirjat from "./Kirjat.svelte";
	let name = "Kirjat.ml";
</script>

<svelte:head>
	<title>Kirjat.ml</title>
</svelte:head>

<main>
	<!--
	<h1>Hello {name}!</h1>
	<p>Let's go: </p>
	
	-->
</main>

<Kirjat/>

<style>
	:global(body) {
        background-color: #222222;
        color: #dddddd;/*#0084f6;*/
        transition: background-color 0.3s
    }
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	/*
	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}*/

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>
